{% extends 'base.html' %}
{% block title %}个人中心{% endblock %}
{% block head %}
    <style>
        #up_d{
            margin: auto;
            border: 1px solid #ff0000;
            width: 800px;
            height: 370px;
        }

        #text_content{
            width: 800px;
            height: 100px;
        }
    </style>
{% endblock %}

{% block main %}
    <form action="{% url "edit" %}" method="post" enctype="multipart/form-data">
        <div class="container">
            {% csrf_token %}
        <table class="table table-striped">
            <tbody >
                <tr>
                    <td>头像:</td>
                    <td><img src="{{ MEDIA_URL }}{{ u.img_url }}" width="100px" height="100px"></td>
                    <td><input type="file" name="img"></td>
                </tr>
                <tr>
                    <td>手机号:</td>
                    <td><input type="text" placeholder="{{ u.phone }}" name = 'phone'></td>
                </tr>
                <tr>
                    <td>地址:</td>
                    <td><input type="text" placeholder="{{ u.address }}" name = 'address'></td>
                </tr>

                <tr>
                    <td>年龄:</td>
                    <td><input type="text" placeholder="{{ u.age }}" name="age"></td>
                </tr>

                <tr>
                    <td>个性签名:</td>
                    <td><input type="text" placeholder="{{ u.content }}" name="content"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button>提交</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>


{% endblock %}