{% extends 'base.html' %}
{% block title %}个人中心{% endblock %}
{% block head %}
    <style>
        #up_d{
            margin: auto;
            border: 1px solid #ff0000;
            width: 800px;
            height: 370px;
        }

        #text_content{
            width: 800px;
            height: 100px;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="container">
        <table class="table table-striped">
            <tbody >
                <tr>
                    <td>头像:</td>
                    <td><a href="http://127.0.0.1:8011{{ MEDIA_URL }}{{ u.img_url }}"><img src="{{ MEDIA_URL }}{{ u.img_url }}" width="100px" height="100px"></a></td>
                </tr>
                <tr>
                    <td>姓名:</td>
                    <td>{{ u.username }}</td>
                </tr>

                <tr>
                    <td>性别:</td>
                    {% if u.sex == 1 %}
                        <td>男</td>
                    {% else %}
                        <td>女</td>
                    {% endif %}
                </tr>

                <tr>
                    <td>手机号:</td>
                    <td>{{ u.phone }}</td>
                </tr>
                <tr>
                    <td>地址:</td>
                    <td>{{ u.address }}</td>
                </tr>

                <tr>
                    <td>年龄:</td>
                    <td>{{ u.age }}</td>
                </tr>

                <tr>
                    <td>个性签名:</td>
                    <td>{{ u.content }}</td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <a href="{% url 'edit' %}" >编辑资料</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}