# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django框架\friend_circle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
